<h1>Lista de articulos publicados</h1>
 <%= link_to 'Nuevo articulo', new_article_path %>
<table>
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
    <th colspan="2"></th>
  </tr>
 
<% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Mostrar', article_path(article) %></td>
    <td><%= link_to 'Editar', edit_article_path(article) %></td>
    <td><%= link_to 'Eliminar', article_path(article),
                    method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
  </tr>
<% end %>
</table>