<p>
  <strong>Titulo:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Contenido:</strong>
  <%= @article.text %>
</p>
 
<h2>Comentarios</h2>
<%= render @article.comments %>
 
<h2>Añadir un comentario:</h2>
<%= render "comments/form" %>
 
<%= link_to 'Editar Articulo', edit_article_path(@article) %> |
<%= link_to 'Regresa a Articulos', articles_path %>